<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | AppCenar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/delivery">AppCenar Delivery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/delivery">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/delivery/perfil">Perfil</a>
                    </li>
                </ul>
                {{#if user}}
                <div class="d-flex">
                    <span class="text-white me-3">Hola, {{user.nombre}}</span>
                    <a href="/logout" class="btn btn-outline-light">Cerrar sesión</a>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
    <main class="container mt-4">