<div class="container mt-5">
  <h1>Restablecer Contraseña</h1>
  {{#if error}}
    <div class="alert alert-info">{{error}}</div>
  {{/if}}
  <form action="/resetPassword" method="POST">
    <div class="form-group">
      <label>Correo o Nombre de Usuario</label>
      <input type="text" name="correo_usuario" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Instrucciones</button>
  </form>
</div>
