<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-header">
          <h5>Categorías</h5>
        </div>
        <div class="list-group list-group-flush">
          {{#each categorias}}
          <a href="#" class="list-group-item list-group-item-action">{{nombre}}</a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h2 class="mb-4">{{comercio.nombre_comercio}}</h2>
      {{#each categorias}}
        <h4 class="mt-4">{{nombre}}</h4>
        <div class="row">
          {{#each productos}}
            <div class="col-md-4 mb-4">
              </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>